<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="refresh" content="3">
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>Activate Azure with Hybrid Cloud</title>
	<style type="text/css">
		body {
			background-color: blue;
			background-repeat: no-repeat, repeat;
			margin: 0;
		}
		.opacity { 
			filter: opacity(50%);
		}
	</style>
</head>
<body>
	<center>
		servername=
		<br>
		<img src="iisstart.png" class="opacity">
	</center>
</body>
</html>